<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--package:  springDemo1 ***********************************************************-->
    <bean id="userService" name="" class="com.springDemo1.UserServiceImpl">
    </bean>

    <bean id="userDao" class="com.springDemo1.UserDaoImpl">
        <property name="name" value="啦啦啦"></property>
    </bean>


    <!--package: springDemo2 ***********************************************************-->
    <!--  spring的Bean的生命周期配置  -->
    <bean id="CustomerDao" class="com.springDemo2.CustomerDaoImpl" init-method="init" destroy-method="destory"
          scope="singleton">
    </bean>


    <!--package: springDemo3 ***********************************************************-->
    <!--spring的属性注入-->

    <!--构造方法的属性注入-->
    <bean id="car" class="com.springDemo3.Car">
        <constructor-arg name="name" value="宝马"/>
        <constructor-arg name="price" value="100000"/>
    </bean>

    <!--set方法的属性注入-->
    <bean id="car2" class="com.springDemo3.Car2">
        <property name="name" value="奔驰"></property>
        <property name="price" value="20000000"></property>
    </bean>

    <!--car2 p名称空间的方式注入-->
    <bean id="car2p" class="com.springDemo3.Car2" p:name="奇瑞" p:price="5000">
    </bean>

    <!--set方法注入对象类型的属性-->
    <bean id="employee" class="com.springDemo3.Employee">
        <property name="name" value="ming"></property>
        <!--value属性设置普通类型的值, ref: 设置其他类的id或者name -->
        <property name="car2" ref="car2"></property>
    </bean>

    <!--构造方法方式注入对象类型的属性-->
    <bean id="employee2" class="com.springDemo3.Employee2">
        <constructor-arg name="name" value="小王"/>
        <constructor-arg name="car2" ref="car2"/>
    </bean>

    <!--p名称空间注入对象类型的属性, employee2-->
    <bean id="employeep" class="com.springDemo3.Employee" p:name="校长" p:car2-ref="car2">
    </bean>
</beans>