<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

    <!--配置目标对象, 被增强的对象-->
    <bean id="productDao1" class="com.springAop.ProductDaoImpl"></bean>

    <!--将切面类 交给spring管理-->
    <bean id="myAspectXML" class="com.springAop.MyAspectXML"></bean>

    <!--通过aop的配置 完成对目标类产生代理-->
    <aop:config>
        <!--expression 表达式配置哪些类的哪些方法需要进行增强-->
        <aop:pointcut id="pointcut" expression="execution(* com.springAop.ProductDaoImpl.save(..))"/>
        <aop:pointcut id="pointcut1" expression="execution(* com.springAop.ProductDaoImpl.find(..))"/>
        <aop:pointcut id="pointcut2" expression="execution(* com.springAop.ProductDaoImpl.update(..))"/>
        <aop:pointcut id="pointcut3" expression="execution(* com.springAop.ProductDaoImpl.delete(..))"/>


        <!--配置切面-->
        <aop:aspect ref="myAspectXML">
            <aop:before method="beforeTest" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterTest" pointcut-ref="pointcut1" returning="result"/>
            <aop:around method="aroundTest" pointcut-ref="pointcut2"/>
            <aop:after-throwing method="throwsTest" pointcut-ref="pointcut3" throwing="ex"/>
            <aop:after method="finallyTest" pointcut-ref="pointcut3"/>
        </aop:aspect>
    </aop:config>

</beans>